# Section 2 : Numpy
playing with numbers, list and other tools.

References:
Python for Data Analysis, Data Wrangling with pandas, NumPy, and Jupyter

Various open-source material



List, Enumaration, Type, String

In [5]:
import numpy as np

random_number = np.random.uniform(5, 10)  # Generate a single random number between 5 and 10
print(random_number)


data = [np.random.standard_normal() for i in range(7)] #  generate random number standard normal.
data

6.289334240241857

[0.25131566293788804,
 -0.8136052304036862,
 -1.4888592194847812,
 0.23775587606664744,
 0.55767771236874,
 0.43591571589563816,
 -1.1412705260679161]

In [7]:
a = [1, 2, 3] # list

In [8]:
b = a
b

[1, 2, 3]

In [9]:
a.append(4)
b

[1, 2, 3, 4]

In [10]:
def append_element(some_list, element):
    some_list.append(element)

In [11]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [12]:
a = 5
type(a)
a = "foo"
type(a) # very important function to understand the type of value

str

In [ ]:
"5" + 5

In [13]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [14]:
a = 5
isinstance(a, int)

True

In [16]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [18]:
a = "foo"

In [ ]:
5 - 7
12 + 21.5
5 <= 2

In [ ]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

In [ ]:
a == c

In [21]:
a = None
a is None

True

In [22]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [24]:
c = """
This is a longer string that
spans multiple lines
"""

In [ ]:
c.count("\n")

In [26]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [ ]:
a

In [ ]:
a = 5.6
s = str(a)
print(s)

In [ ]:
s = "python"
list(s)
s[:3]

In [ ]:
s = "12\\34"
print(s)

In [ ]:
s = r"this\has\no\special\characters"
s

In [ ]:
a = "this is the first half "
b = "and this is the second half"
a + b

In [ ]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [27]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [ ]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

In [ ]:
val = "espaÃ±ol"
val

In [ ]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [ ]:
val_utf8.decode("utf-8")

In [ ]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

In [ ]:
True and True
False or True

In [ ]:
int(False)
int(True)

In [ ]:
a = True
b = False
not a
not b

In [ ]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [ ]:
a = None
a is None
b = 5
b is not None

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

In [ ]:
dt.date()
dt.time()

In [ ]:
dt.strftime("%Y-%m-%d %H:%M")

In [ ]:
datetime.strptime("20091031", "%Y%m%d")

In [ ]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

In [ ]:
dt

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [ ]:
dt
dt + delta

In [30]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [ ]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

In [ ]:
range(10)
list(range(10))

In [ ]:
list(range(0, 20, 2))
list(range(5, 0, -1))

In [29]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4